<div class="header">Recommended books</div>
<div class="book">
  <img src="/assets/img/covers/head-first-design-patterns.png" alt="Cover art of Head First Design Patterns">
  <div>
    <a class="name" href="https://read.amazon.com/kp/embed?asin=B08P3X99QP&preview=newtab&linkCode=kpe">Head First Design Patterns</a>
    <div class="author">Eric Freeman, Elisabeth Robson</div>
  </div>
</div>
<div class="book">
  <img src="/assets/img/covers/mastering-software-testing-with-junit5.png" alt="Cover art of Mastering Software Testing with JUnit 5">
  <div>
    <a class="name" href="https://read.amazon.com/kp/embed?asin=B076ZQCK5Q&preview=newtab&linkCode=kpe">Mastering Software Testing with JUnit 5</a>
    <div class="author">Boni Garcia</div>
  </div>
</div>
<div class="book">
  <img src="/assets/img/covers/android-programming-the-big-nerd-ranch-guide.png" alt="Cover art of Android Programming: The Big Nerd Ranch Guide">
  <div>
    <a class="name" href="https://read.amazon.com/kp/embed?asin=B07XVLNGX1&preview=newtab&linkCode=kpe">Android Programming: The Big Nerd...</a>
    <div class="author">Bill Phillips, Chris Stewart, Kristin Marsicano</div>
  </div>
</div>
<div class="book">
  <img src="/assets/img/covers/effective-java.png" alt="Cover art of Effective Java">
  <div>
    <a class="name" href="https://read.amazon.com/kp/embed?asin=B078H61SCH&preview=newtab&linkCode=kpe">Effective Java</a>
    <div class="author">Joshua Bloch</div>
  </div>
</div>
<div class="book">
  <img src="/assets/img/covers/clean-code-a-handbook-of-agile-software-craftsmanship.png" alt="Cover art of Clean Code">
  <div>
    <a class="name" href="https://read.amazon.com/kp/embed?asin=B001GSTOAM&preview=newtab&linkCode=kpe">Clean Code: A Handbook of Agile...</a>
    <div class="author">Robert Martin</div>
  </div>
</div>
