* {
    font-family: Roboto, sans-serif;
    margin: 0;
}

main {
    align-items: center;
    display: flex;
    flex-flow: column;
    height: 100vh; /* do not change this to percent*/
}

.top-box {
    align-items: center;
    display: flex;
    flex: 0 0 auto;
    flex-flow: column;
    margin-top: 20px;
}

.bottom-box {
    align-items: center;
    background: #eee;
    border: 1px solid rgb(204, 204, 204);
    border-top-left-radius: 75px;
    border-top-right-radius: 75px;
    display: flex;
    flex: 1 1 auto;
    flex-flow: column;
    margin-top: 16px;
}

.identity {
    align-items: center;
    background: #eee;
    border: 1px solid rgb(204, 204, 204);
    border-radius: 100px;
    display: flex;
    flex-flow: row;
    padding: 15px 2px 15px 18px;
    width: 490px;
}

#full-name {
    color: #292929;
    font-family: Roboto, sans-serif;
    font-size: 36px;
    text-shadow: 0 1px #aaa;
}

#avatar {
    border-radius: 50%;
    margin-right: 20px;
    box-shadow: 0 1px #aaa;
}

.honors-socials {
    align-items: center;
    display: flex;
    flex-flow: column;
    width: 95%;
}

.honors {
    align-items: center;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    margin-top: 15px;
    width: 100%;
}

.honor {
    display: flex;
}

.arc-left {
    display: inline-block;
    position: relative;
    width: 28px;
    height: 56px;
    border: 1px solid rgb(204, 204, 204);
    background: #eee;
    border-right: none;
    right: -2px;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px
}

.arc-right {
    display: inline-block;
    position: relative;
    width: 28px;
    height: 56px;
    border: 1px solid rgb(204, 204, 204);
    background: #eee;
    border-left: none;
    left: -2px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px
}

.honor-img {
    width: 208px;
}

.socials {
    align-items: center;
    background: #eee;
    border: 1px solid rgb(204, 204, 204);
    border-radius: 100px;
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    margin-top: 12px;
    width: 96%;
}

.social {
    margin: 8px 20px 4px;
}

.works {
    align-items: center;
    display: flex;
    flex-flow: column;
    min-height: fit-content;
    padding-bottom: 18px;
}

#works-title {
    color: #333;
    font-weight: bold;
    margin-top: 16px;
}

.work {
    align-items: center;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    margin-top: 22px;
    padding: 0 40px;
    text-decoration: none;
}

.work, .work:visited {
    color: #333;
}

.work .name {
    text-shadow: 1px 1px #ddd;
}

.work img {
    margin-right: 24px;
}

.work:nth-child(1) img, .work:nth-child(3) img, .work:nth-child(4) img {
    width: 44px;
}

.work:nth-child(2) img {
    width: 50px;
}

.favorite-songs {
    display: flex;
    flex-flow: column;
    position: fixed;
    bottom: 50%;
    transform: translate(0%, 50%); /* To center vertically */
    left: 0;
    width: auto;
    height: auto;
}

.favorite-songs .header {
    margin-bottom: 10px;
    background: #eee;
    border: 1px solid rgb(204, 204, 204);
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
    text-align: center;
    padding: 20px;
    width: fit-content;
}

.song {
    display: flex;
    flex-flow: row;
    background: #eee;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
    margin-top: 20px;
    align-items: center;
    justify-content: space-between;
    transform: translateX(-300px);
    transition: 300ms;
}

.song audio {
    width: 300px;
    height: 40px;
}

.song img {
    width: 50px;
    height: 50px;
    border-radius: 4px;
    margin-left: 20px;
}

.song .name {
    text-align: center;
    font-size: 12px;
}

.song:hover {
    transform: translateX(0px);
}

/*this solves the problem when device height is low and causes .works height to reduce*/
@media all and (max-height: 655px) {
    html body main {
        height: 100%;
    }
}
