<p id="works-title">Projects</p>
<div class="works">
  <a id="ceno" class="work" href="https://github.com/mahozad/ceno">
    <img src="/assets/img/logos/ceno.svg" alt="Ceno logo">
    <span class="name">Ceno</span>
  </a>
  <a id="buyt" class="work" href="https://cafebazaar.ir/app/com.pleon.buyt/?l=en">
    <img src="/assets/img/logos/buyt.svg" alt="Buyt logo">
    <span class="name">Buyt</span>
  </a>
  <a id="donim" class="work" href="https://github.com/mahozad/donim">
    <img src="/assets/img/logos/donim.svg" alt="Donim logo">
    <span class="name">Donim</span>
  </a>
  <a id="apc" class="work" href="https://github.com/mahozad/android-pie-chart">
    <img src="/assets/img/logos/android-pie-chart.svg" alt="Android Pie Chart logo">
    <span class="name">APC</span>
  </a>
  <a id="which1" class="work" href="https://cafebazaar.ir/app/com.pleon.whichI/?l=en">
    <img src="/assets/img/logos/which1.svg" alt="Which1 logo">
    <span class="name">Which1</span>
  </a>
  <a id="shangool" class="work tbd" href="https://github.com/mahozad/shangool">
    <img src="/assets/img/logos/shangool.svg" alt="Shangool logo">
    <span class="name">Shangool</span>
  </a>
</div>
