.works {
  display: flex;
  min-height: fit-content;
  align-items: center;
  flex-flow: column;
  padding-inline: 40px;
  padding-block-end: 24px;
}

#works-title {
  color: var(--works-title-text-color);
  font-weight: bold;
  margin-block-start: 16px;
}

.tbd {
  img { filter: grayscale(1); }

  span::after {
    content: ""; // Prevent the main text from jiggling
    font-size: 10px;
    width: 20px;
    height: 20px;
    vertical-align: super;
  }

  &:hover {
    img { filter: none; }
    span::after { content: "\00a0(TBD)"; }
  }
}

.work {
  display: flex;
  width: 120px;
  margin-block-start: 22px;
  align-items: center;
  flex-flow: row;
  justify-content: flex-start;
  text-decoration: none;
}

.work, .work:visited {
  color: var(--work-text-color);
}

.work .name {
  text-shadow: 1px 1px #ddd;
}

.work img {
  max-width: 50px;
  margin-inline-end: 8px;
}

#donim img {
  // Make the logo less prominent
  filter: opacity(80%);
}

@media screen and(max-width: 300px) {
  .works {
    padding-inline: 24px;
  }
}
