:host {
  display: flex;
  height: 100vh;
}

#canvas {
  /* NOTE: Setting dimensions here will not effect the final element because
   *  Three.js sets inline styles on the element which override these.
   *  We can, however, set initial dimensions applied before Three.js sets them.
   */

  width: 100%; // Set the initial width to avoid scrollbar being shown
}

.spinner {
  width: 32px;
  position: absolute;
  inset-inline-start: 50%;
  inset-block-start: 50%;
  transform: translate(-50%, -50%);
  stroke: var(--spinner-color);
}

#icon {
  width: 48px;
  position: absolute;
  border: var(--card-border-thickness) solid var(--card-border-color);
  border-radius: 50px;
  padding: 18px 0 14px;
  background: var(--card-background-color);
  inset-block-end: 20px;
  inset-inline-end: 50%;
  transform: translate(50%, 0);
}
