#header {
  width: 100%;
  height: 100vh;
  // The original 3d images are available in https://github.com/mahozad/mahozad repository
  background: url("/assets/img/logo-3d.png") no-repeat center center;
  background-size: cover;
}

#icon {
  width: 48px;
  position: absolute;
  border: var(--card-border-thickness) solid var(--card-border-color);
  border-radius: 50px;
  padding: 18px 0 14px;
  background: var(--card-background-color);
  inset-block-end: 20px;
  margin-inline-start: 50%;
  transform: translate(-50%, 0);
}

@media screen and (max-width: 350px){
  #header {
    height: 50vh;
  }

  #icon {
    display: none;
  }
}
