<canvas id="canvas"></canvas>

<svg [class.spinner]="is3DLogoLoading" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
  <circle
    r="10"
    cx="12"
    cy="12"
    fill="none"
    stroke-width="3"
    stroke-dasharray="45 20"
    stroke-dashoffset="18">
  </circle>
</svg>

<a href="#portfolio" target="_self">
  <svg id="icon" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
    <symbol id="arrow" stroke="var(--header-icons-color)" fill="none" stroke-linecap="round" stroke-width="2">
      <path d="m8 4 4 4 4-4"/>
    </symbol>
    <use id="arrow1" href="#arrow" y="-6" opacity="0"/>
    <use id="arrow2" href="#arrow" y="0"/>
    <use id="arrow3" href="#arrow" y="6"/>
    <use id="arrow4" href="#arrow" y="12"/>
  </svg>
</a>
