<a id="stackoverflow-stats" class="honor" href="https://stackoverflow.com/users/8583692/mahozad">
  <div id="stackoverflow-info">
    <img src="/assets/img/stackoverflow-logo.svg" alt="Stackoverflow logo">
    <p class="first-line">
      <span class="title">Reputation:&nbsp;</span>
      <spinner *ngIf="isLoadingGHRest"></spinner>
      <span class="green">{{stackoverflow.reputation}}</span>
    </p>
    <p class="second-line">
      <span class="badge gold-badge">
        <spinner *ngIf="isLoadingGHRest"></spinner>
        <span>{{stackoverflow.goldBadges}}</span>
      </span>
      <span class="badge silver-badge">
        <spinner *ngIf="isLoadingGHRest"></spinner>
        <span>{{stackoverflow.silverBadges}}</span>
      </span>
      <span class="badge bronze-badge">
        <spinner *ngIf="isLoadingGHRest"></spinner>
        <span>{{stackoverflow.bronzeBadges}}</span>
      </span>
    </p>
  </div>
  <img id="stackoverflow-mark" src="/assets/img/stackoverflow-mark.svg" alt="Stackoverflow mark">
</a>

<a id="github-stats" class="honor" href="https://github.com/mahozad">
  <img id="github-mark" src="/assets/img/github-mark.svg" alt="GitHub mark">
  <div id="github-info">
    <img src="/assets/img/github-logo.svg" alt="GitHub logo">
    <p class="first-line">
      <span>Contributions:&nbsp;</span>
      <spinner *ngIf="isLoadingGHGraphQL"></spinner>
      <span class="green">{{github.contributions}}</span></p>
    <p class="second-line">
      <span>Repositories:&nbsp;</span>
      <spinner *ngIf="isLoadingGHRest"></spinner>
      <span>{{github.repos}}</span>
    </p>
  </div>
</a>
