.honor {
  display: flex;
}

#github-stats, #stackoverflow-stats {
  padding: 8px;
  background: #eee;
  border: 1px solid rgb(204, 204, 204);
  width: 160px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  text-decoration: none;

  &:visited { color: #333; }
}

#github-stats {
  padding-inline-end: 54px;
  border-start-end-radius: 50px;
  border-end-end-radius: 50px;
}

#stackoverflow-stats {
  padding-inline-start: 54px;
  border-start-start-radius: 50px;
  border-end-start-radius: 50px;
}

#github-mark {
  margin-inline-start: 4px;
}

#stackoverflow-mark {
  margin-inline-end: 4px;
}

#github-info, #stackoverflow-info {
  display: flex;
  flex-direction: column;
  font-size: 11px;

  img { height: 12px; }

  .first-line {
    span { color: hsl(114, 92%, 33%); }

    margin-block-start: 10px;
  }

  .second-line{ font-size: 9px; }
}

#github-info {
  align-items: end;
}

#stackoverflow-info {
  align-items: start;
}

.badge {
  &:before { content: " ⬤ "; }

  margin-inline-end: 8px;
}

.gold-badge {
  &:before { color: gold; }
}

.silver-badge {
  &:before { color: silver; }
}

.bronze-badge {
  &:before { color: #cd7f32; }
}
