.honor {
  --arc-padding: 36px;
  --arc-border-radious: 50px;
  display: flex;
  padding: 8px;
  background: var(--card-background-color);
  border: var(--card-border-thickness) solid var(--card-border-color);
  width: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  text-decoration: none;

  &:visited { color: #333; }

  img { height: 42px; }
}

#github-stats {
  padding-inline-end: var(--arc-padding);
  border-start-end-radius: var(--arc-border-radious);
  border-end-end-radius: var(--arc-border-radious);
}

#stackoverflow-stats {
  padding-inline-start: var(--arc-padding);
  border-start-start-radius: var(--arc-border-radious);
  border-end-start-radius: var(--arc-border-radious);
}

#github-info, #stackoverflow-info {
  display: flex;
  flex-direction: column;
  font-size: 12px;

  img { height: 12px; }

  .first-line {
    margin-block-start: 10px;
    margin-block-end: 3px;
  }

  .second-line{ font-size: 12px; }
}

.green {
  color: #16a207;
}

.first-line, .second-line {
  display: flex;
  align-items: center;
}

#github-info {
  align-items: end;
}

#stackoverflow-info {
  align-items: start;
}

.badge {
  &:before { content: " ⬤ "; }

  margin-inline-end: 8px;
}

.gold-badge {
  &:before { color: #ffd700; }
}

.silver-badge {
  &:before { color: #c0c0c0; }
}

.bronze-badge {
  &:before { color: #cd7f32; }
}

@media screen and (max-width: 1000px) {
  #github-stats, #stackoverflow-stats {
    padding-inline: var(--arc-padding);
    border-radius: var(--arc-border-radious);
  }
  #stackoverflow-stats {
    flex-direction: row-reverse;
  }
  #stackoverflow-info {
    align-items: end;
  }
  .badge {
    margin-inline-end: 0;
    margin-inline-start: 8px;
  }
}

@media screen and (max-width: 300px){
  #github-stats, #stackoverflow-stats {
    padding-inline: 20px;
  }
  .honor {
    gap: 8px;
    width: unset;
  }
}
