<div id="stackoverflow-stats" class="honor">
  <div id="arc-left"></div>
  <a href="https://stackoverflow.com/users/8583692/mahozad">
    <div id="stackoverflow-info">
      <img src="/assets/img/stackoverflow-logo.svg" alt="Stackoverflow logo">
      <p id="reputation">{{reputation}}</p>
      <p id="badges">
        <span class="badge gold-badge">{{goldBadge}}</span>
        <span class="badge silver-badge">{{silverBadge}}</span>
        <span class="badge bronze-badge">{{bronzeBadge}}</span>
      </p>
    </div>
    <img id="stackoverflow-mark" src="/assets/img/stackoverflow-mark.svg" alt="Stackoverflow mark" height="48px">
    <!--<img class="honor-img" src="https://stackoverflow.com/users/flair/8583692.png" alt="Stackoverflow flair">-->
  </a>
</div>

<div id="github-stats" class="honor">
  <a href="https://github.com/mahozad">
    <img id="github-mark" src="/assets/img/github-mark.svg" alt="GitHub mark" height="48px">
    <div id="github-info">
      <img src="/assets/img/github-logo.svg" alt="GitHub logo">
      <p id="repositories">Public repos: <span>{{repoCount}}</span></p>
      <p id="gists">Public gists: {{gistCount}}</p>
    </div>
  </a>
  <div id="arc-right"></div>
</div>
