<a id="stackoverflow-stats" class="honor" href="https://stackoverflow.com/users/8583692/mahozad">
  <div id="stackoverflow-info">
    <img src="/assets/img/stackoverflow-logo.svg" alt="Stackoverflow logo">
    <p class="first-line">Reputation: <span>{{stackoverflow.reputation}}</span></p>
    <p class="second-line">
      <span class="badge gold-badge">{{stackoverflow.goldBadges}}</span>
      <span class="badge silver-badge">{{stackoverflow.silverBadges}}</span>
      <span class="badge bronze-badge">{{stackoverflow.bronzeBadges}}</span>
    </p>
  </div>
  <img id="stackoverflow-mark" src="/assets/img/stackoverflow-mark.svg" alt="Stackoverflow mark">
</a>

<a id="github-stats" class="honor" href="https://github.com/mahozad">
  <img id="github-mark" src="/assets/img/github-mark.svg" alt="GitHub mark">
  <div id="github-info">
    <img src="/assets/img/github-logo.svg" alt="GitHub logo">
    <p class="first-line">Contributions: <span>{{github.contributions}}</span></p>
    <p class="second-line">Repositories: <span>{{github.repos}}</span></p>
  </div>
</a>
