<div id="info">
  <div>Designed all by meself!</div>
  <div>Created with Angular</div>
  <div>Last update: {{lastUpdate}}</div>
</div>

<app-header></app-header>

<!-- The id is used for scrolling -->
<main id="portfolio">
  <app-profile></app-profile>
  <app-social-link-list></app-social-link-list>
  <app-honor-list></app-honor-list>
  <app-project-list></app-project-list>
  <!--
  TODO:
   - Merge this repository with the original github.com/mahozad/mahozad.github.io repository
     To do this, make this repository a new branch of that repository.
   - Create a svelte version of the application (just for fun and learning and showcasing)
     To do this, create a new git branch for the svelte version.
   - Update the style of the site scrollbar (see YouTube scrollbar)
   - Create a dark version of site (see https://fonts.google.com/specimen/Roboto and https://mahozad.ir/android-pie-chart)
   - Create a print version of site
   - Link to a new page containing my logos showcase (including my M logo)
     Or add a button in the current projects card which flips that card to show the logos on the back
   - Add resume download link
   - Create and show a 404 page or redirect to home page with a prompt when a page is not found
  -->
</main>

<aside><app-favorite-book-list></app-favorite-book-list></aside>
<aside><app-recommended-book-list></app-recommended-book-list></aside>
