#info {
  position: absolute;
  background: var(--card-background-color) url("/assets/img/info.svg") no-repeat 50% 8px;
  color: #8a6d01;
  inset-block-start: 8px;
  inset-inline-start: 8px;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  padding: 8px;
  border: var(--card-border-thickness) solid var(--card-border-color);
  transition: 300ms;
  font-size: 12px;
  overflow: hidden;
  white-space: nowrap;
  user-select: none;
  -webkit-user-select: none;

  &:active {
    width: 130px;
    height: 110px;
    border-radius: 14%;
  }

  div {
    margin-block-start: 8px;
  }

  div:first-of-type {
    margin-block-start: 36px;
  }
}

main {
  display: flex;
  width: min-content;
  height: 100vh;
  margin: auto;
  align-items: center;
  flex: 0 0 auto;
  flex-flow: column;
}

app-profile {
  margin-block-start: 20px;
}

app-honor-list {
  display: flex;
  margin-block-start: 16px;
  width: 96%;
  flex-flow: row;
  justify-content: center;
  gap: 16px;
}

app-social-link-list {
  display: flex;
  width: 96%;
  background: var(--card-background-color);
  margin-block-start: 16px;
  align-items: center;
  flex-flow: row;
  justify-content: space-around;
  padding-block: 6px;
  border: var(--card-border-thickness) solid var(--card-border-color);
  border-radius: 100px;
}

app-project-list {
  display: flex;
  background: var(--card-background-color);
  margin-block-start: 16px;
  align-items: center;
  flex: 1 1 auto;
  flex-flow: column;
  border: var(--card-border-thickness) solid var(--card-border-color);
  border-start-start-radius: 75px;
  border-start-end-radius: 75px;
}

app-favorite-book-list, app-recommended-book-list {
  display: flex;
  overflow: hidden;
  position: absolute;
  flex-flow: column;
  inset-block-start: 100vh;
  margin-block-start: 20px;
  //transform: translateY(50%);
}

app-favorite-book-list {
  inset-inline-start: 0;
  align-items: flex-start;
}

app-recommended-book-list {
  inset-inline-end: 0;
  align-items: flex-end;
}

footer {
  margin-block-start: -16px;
}

#canvas {
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 1000px) {
  #info:hover, #info:active {
    width: 110px;
    height: 94px;
    border-radius: 14%;
    font-size: 10px;
  }
  main {
    height: unset;
  }
  app-social-link-list {
    width: 294px;
  }
  app-honor-list {
    width: unset;
    flex-flow: column;
    align-items: center;
  }
  app-project-list {
    border-radius: 75px;
    padding-block-end: 24px;
  }
  app-favorite-book-list, app-recommended-book-list {
    display: flex;
    position: static;
    flex-flow: column;
    margin-block-start: 48px;
  }
  app-favorite-book-list {
    align-items: center;
  }
  app-recommended-book-list {
    align-items: center;
    margin-block-end: 48px;
  }
  footer {
    position: static;
  }
}

@media screen and (max-width: 350px) {
  app-project-list {
    border-radius: 50px;
  }
}

@media screen and (max-width: 300px) {
  app-social-link-list {
    width: 172px;
  }
}
