<app-header></app-header>

<!-- The id is used for scrolling -->
<main id="portfolio">
  <app-profile></app-profile>
  <app-social-link-list></app-social-link-list>
  <app-honor-list></app-honor-list>
  <app-project-list></app-project-list>
  <!--
  TODO:
   - Create a dark version of site (see https://fonts.google.com/specimen/Roboto and https://mahozad.ir/android-pie-chart)
   - Create a print version of site
   - Fix/improve the site for mobile/small screens
      - replace expandable elements with always-expanded versions
      - Fix the problem with not being able to click center elements when page is zoomed
   - Link to a new page containing my logos showcase (including my M logo)
   - Add resume download link
   - Create and show a 404 page or redirect to home page with a prompt when a page is not found
   - Add a small info icon in place of "designed by meself" which shows that on mouse hover
     and also show last updated timestamp of when the site was last updated (retrieve from github api)
  -->
</main>

<aside><app-favorite-book-list></app-favorite-book-list></aside>
<aside><app-recommended-book-list></app-recommended-book-list></aside>

<footer><app-autograph></app-autograph></footer>
