main {
  display: flex;
  width: min-content;
  height: 100vh;
  margin: auto;
  align-items: center;
  flex: 0 0 auto;
  flex-flow: column;
}

app-profile {
  margin-block-start: 20px;
}

app-honor-list {
  display: flex;
  width: 96%;
  margin-block-start: 16px;
  align-items: center;
  flex-flow: row;
  justify-content: space-between;
}

app-social-link-list {
  display: flex;
  width: 96%;
  background: #eee;
  margin-block-start: 16px;
  align-items: center;
  flex-flow: row;
  justify-content: space-around;
  border: 1px solid rgb(204, 204, 204);
  border-radius: 100px;
}

app-project-list {
  display: flex;
  background: #eee;
  margin-block-start: 16px;
  align-items: center;
  flex: 1 1 auto;
  flex-flow: column;
  border: 1px solid rgb(204, 204, 204);
  border-start-start-radius: 75px;
  border-start-end-radius: 75px;
}

app-favorite-song-list, app-recommended-book-list {
  display: flex;
  width: auto;
  height: auto;
  position: fixed;
  inset-block-end: 50%;
  flex-flow: column;
  transform: translate(0%, 50%); /* To center vertically */
}

app-favorite-song-list {
  inset-inline-start: 0;
  align-items: flex-start;
}

app-recommended-book-list {
  inset-inline-end: 0;
  align-items: flex-end;
}

footer {
  position: fixed;
  inset-block-end: 0;
}
