<!-- See https://stackoverflow.com/a/42643593/8583692 -->
<div id="info" [class.expanded]="isExpanded" (click)="isExpanded=!isExpanded" (clickOutside)="isExpanded=false">
  <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
    <circle cx="12" cy="6" r="1" fill="var(--header-icons-color)"/>
    <path d="m12 11v7" stroke="var(--header-icons-color)" stroke-linecap="round" stroke-width="2"/>
  </svg>
  <div>Designed all by meself!</div>
  <div>Created with Angular</div>
  <div>Last update: {{lastUpdate}}</div>
  <div id="sourceLink" (click)="openSiteSourceLink()">Source code on GitHub</div>
</div>

<theme-switch></theme-switch>

<app-header></app-header>

<!-- The id is used for scrolling -->
<main id="portfolio">
  <app-profile></app-profile>
  <app-social-link-list></app-social-link-list>
  <app-honor-list></app-honor-list>
  <app-project-list></app-project-list>
</main>

<aside><app-favorite-book-list></app-favorite-book-list></aside>
<aside><app-recommended-book-list></app-recommended-book-list></aside>
