main {
  display: flex;
  width: min-content;
  height: 100vh;
  margin: auto;
  align-items: center;
  flex: 0 0 auto;
  flex-flow: column;
}

app-profile {
  margin-block-start: 20px;
}

app-honor-list {
  display: flex;
  margin-block-start: 16px;
  width: 96%;
  align-items: center;
  flex-flow: row;
  justify-content: center;
  gap: 16px;
}

app-social-link-list {
  display: flex;
  width: 96%;
  background: #c49e141f;
  margin-block-start: 16px;
  align-items: center;
  flex-flow: row;
  justify-content: space-around;
  padding-block: 6px;
  border: 1px solid #8A6D01AF;
  border-radius: 100px;
}

app-project-list {
  display: flex;
  background: #c49e141f;
  margin-block-start: 16px;
  align-items: center;
  flex: 1 1 auto;
  flex-flow: column;
  border: 1px solid #8A6D01AF;
  border-start-start-radius: 75px;
  border-start-end-radius: 75px;
}

app-favorite-book-list, app-recommended-book-list {
  display: flex;
  overflow: hidden;
  position: absolute;
  flex-flow: column;
  inset-block-start: 100vh;
  margin-block-start: 20px;
  //transform: translateY(50%);
}

app-favorite-book-list {
  inset-inline-start: 0;
  align-items: flex-start;
}

app-recommended-book-list {
  inset-inline-end: 0;
  align-items: flex-end;
}

footer {
  position: fixed;
  inset-block-end: 0;
}
