#profile {
  display: flex;
  background: var(--card-background-color);
  white-space: nowrap;
  padding: 16px;
  align-items: center;
  flex-flow: row;
  border: var(--card-border-thickness) solid var(--card-border-color);
  border-radius: 100px;

  #full-name {
    color: var(--profile-text-color);
    font-size: 34px;
    text-shadow: 0 1px #aaa;
    font-family: Roboto-Slab-Bold, serif;
  }

  #avatar {
    margin-inline-end: 8px;
    border-radius: 50%;
    box-shadow: 0 1px #aaa;
  }
}

@media screen and (max-width: 600px) {
  #profile {
    white-space: unset;
    text-align: center;

    #full-name {
      font-size: 24px;
    }
  }
}

@media screen and (max-width: 350px) {
  #profile {
    border-radius: 50px;
    #full-name {
      font-size: 18px;
    }
  }
}

@media screen and (max-width: 295px) {
  #profile {
    flex-direction: column;
    #full-name {
      padding-block-end: 16px;
      word-spacing: 100vw; // See https://stackoverflow.com/a/23889196
      margin-block-start: 10px;
    }
  }
}
