<div class="header">My virtue signaling :)</div>

<div class="book">
  <div>
    <a class="name" href="https://read.amazon.com/kp/embed?asin=B01A7YX4TW&preview=newtab&linkCode=kpe">Behave: The Biology of Humans at Our...</a>
    <div class="author">Robert M. Sapolsky</div>
  </div>
  <img src="/assets/img/covers/behave-the-biology-of-humans-at-our-best-and-worst.jpg" alt="Cover art of Behave: The Biology of Humans at Our Best and Worst">
</div>

<div class="book">
  <div>
    <a class="name" href="https://read.amazon.com/kp/embed?asin=B071G3HFH1&preview=newtab&linkCode=kpe">Thinking and Reasoning: A Very Short...</a>
    <div class="author">Jonathan St B. T. Evans</div>
  </div>
  <img src="/assets/img/covers/thinking-and-reasoning-a-very-short-introduction.jpg" alt="Cover art of Thinking and Reasoning: A Very Short Introduction">
</div>

<div class="book">
  <div>
    <a class="name" href="https://read.amazon.com/kp/embed?asin=B0037NX018&preview=newtab&linkCode=kpe">Why Zebras Don't Get Ulcers...</a>
    <div class="author">Robert M. Sapolsky</div>
  </div>
  <img src="/assets/img/covers/why-zebras-dont-get-ulcers.jpeg" alt="Cover art of Why Zebras Don't Get Ulcers: The Acclaimed Guide to Stress, Stress-Related Diseases, and Coping">
</div>

<div class="book">
  <div>
    <a class="name" href="https://read.amazon.com/kp/embed?asin=B0058Z4NR8&preview=newtab&linkCode=kpe">Why Nations Fail: The Origins of...</a>
    <div class="author">Daron Acemoglu, James A. Robinson</div>
  </div>
  <img src="/assets/img/covers/why-nations-fail.jpg" alt="Cover art of Why Nations Fail: The Origins of Power, Prosperity, and Poverty">
</div>

<div class="book">
  <div>
    <a class="name" href="https://read.amazon.com/kp/embed?asin=B08KSC11KQ&preview=newtab&linkCode=kpe">Noise: A Flaw in Human Judgment</a>
    <div class="author">Daniel Kahneman, Olivier Sibony, Cass R. Sunstein</div>
  </div>
  <img src="/assets/img/covers/noise-a-flaw-in-human-judgment.jpg" alt="Cover art of Noise: A Flaw in Human Judgment">
</div>
