// See the README file for more information about fonts.
@font-face {
  font-family: Roboto;
  src: url("assets/font/roboto-latin-regular.woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: Roboto-Slab-Bold;
  src: url("assets/font/roboto-slab-latin-bold.woff2");
  font-weight: bold;
  font-style: normal;
}

* {
  font-family: Roboto, sans-serif;
  margin: 0;
}

:root {
  --color-yellow-1: #c49e1410;
  --color-yellow-2: #8a6d0180;
  --card-background-color: var(--color-yellow-1);
  --card-border-color: var(--color-yellow-2);
  --card-border-thickness: 1px;
}

html {
  scroll-behavior: smooth;
}
