// See the README file for more information about fonts.
@font-face {
  font-family: Roboto;
  src: url("assets/font/roboto-latin-regular.woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: Roboto-Slab-Bold;
  src: url("assets/font/roboto-slab-latin-bold.woff2");
  font-weight: bold;
  font-style: normal;
}

* {
  font-family: Roboto, sans-serif;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  background: #fafafa;
}
